.movies-card {
  width: 360px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 6px;
}

.movies-card__poster {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.movies-card__image {
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  z-index: 1;
}

.movies-card__button {
  width: 70px;
  height: 20px;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  font: normal 400 10px/9px Inter, serif;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  border-radius: 30px;
  border: none;
  position: absolute;
}

.visible{
  top: 14px;
  right: 14px;
  left: auto;
  opacity: 1;
}

.movies-card__button:hover {
  cursor: pointer;
  border: 2px solid #bbbbbb;
}

.movies-card__button:active {
  background-color: #f5f5f5;
  box-shadow: inset 0px 0px 5px #bbbbbb;
}

.movies-card__info {
  padding: 14px 14px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.movies-card__title {
  font: normal 500 13px/15px Inter, serif;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.movies-card__duration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 18px;
  font: normal 400 11px/10px Inter, serif;
  color: #a0a0a0;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .movies-card__info {
    padding: 25px 0 0 0;
  }

  .movies-card {
    width: 340px;
    height: 190px;
  }
}

@media screen and (max-width: 480px) {
  .movies-card__info {
    padding: 16px 0 0 0;
  }

  .movies-card {
    width: 300px;
    height: 168px;
  }
}
