@keyframes slide {
  0% {
    width: 20px;
    color: rgba(0, 0, 0, 0);
  }
  50% {
    width: 45px;
    color: rgba(0, 0, 0, 0.575);
  }
  100% {
    width: 70px;
    color: #000;
  }
}

.slide {
  animation: slide 0.17s ease 0s;
}
