{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "requireConfigFile": false,
    "ecmaVersion": 8,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "extends": ["airbnb", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 125
      }
    ],
    "jsx-a11y/control-has-associated-label": [
      "off",
      {
        "labelComponents": [],
        "labelAttributes": [],
        "controlComponents": [],
        "assert": "both",
        "depth": 25
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "components": [],
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["off"],
    "no-return-assign": ["off"],
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true,
        "allowAfterThisConstructor": true,
        "allowFunctionParams": true,
        "allow": ["_id"]
      }
    ],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-props-no-spreading": "off"
  },
  "env": {
    "browser": true,
    "jest": true,
    "es2021": true
  }
}
