.checkbox__container {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.checkbox__text {
  color: #000;
  font: normal 400 12px/18px Inter, serif;
  user-select: none;
  margin: 0;
  padding: 0;
}

.checkbox__label {
  width: 36px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.checkbox__label input {
  display: none;
}

.checkbox__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #66bb6a;
  transition: 0.4s;
  cursor: pointer;
}

.checkbox__slider:before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 5px;
  bottom: 4px;
  content: '';
  background-color: #2be080;
  outline: 2px solid #fff;
  transition: 0.4s;
}

input:checked + .checkbox__slider {
  background-color: #ebebeb;
}

input:checked + .checkbox__slider:before {
  transform: translateX(14px);
}

.checkbox__slider.checkbox__round {
  border-radius: 20px;
}

.checkbox__slider.checkbox__round::before {
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .search-form__text {
    font-size: 11px;
  }
}
