.footer {
  width: 100%;
  min-height: 172px;
  padding: 80px 70px;
  box-sizing: border-box;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0;
}

.footer__nav {
  width: 263px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text {
  font: normal 400 13px/16px Inter, serif;
  color: #000000;
  margin: 0;
  padding: 0;
  user-select: none;
  text-decoration: none;
}

.footer__text_credits {
  color: #a0a0a0;
  padding: 0 0 20px;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}

.footer__text_link:hover {
  opacity: 0.7;
  transition: opacity 0.15s ease-in;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 80px 30px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 80px 14px 10px;
  }

  .footer__menu {
    flex-direction: column-reverse;
    margin: 30px 0 0;
    gap: 12px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__nav {
    flex-direction: column;
    gap: 12px;
  }
}
