.footer {
  width: 100%;
  min-height: 172px;
  padding: 0 70px;
  box-sizing: border-box;
}

.footer__menu {
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav {
  width: 263px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text {
  font: normal 400 13px/16px Inter, serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

.footer__text_credits {
  color: #a0a0a0;
  padding: 79px 0 20px;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
}

.footer__text_copyright {
  color: #000000;
}

.footer__text_link {
  color: #000000;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.7;
  transition: opacity 0.15s ease-in;
}
